.c-hero
    .FlexEmbed
        .FlexEmbed--ratio.c-hero-ratioIndex
        .FlexEmbed-content
            .o-posAbsoluteCenter.o-coverImage.u-colorBrand(style='background-image: url("/assets/images/cairns-desaturated.jpg"); opacity: 0.125;')
            .o-container.o-container--md
                .Grid.u-height100
                    .Grid-cell.u-sm-size6of12.u-smDown-spaceT
                        .o-aligner
                            .o-aligner-item.u-paddingRD2
                                h1.c-hero-display Policies #[span.u-lg-lineBreak for people.]
                                p.c-hero-text
                                    | From my hometown Cairns, I provide a local, face-to-face service to help people insure for themselves and their families.
                                p.c-hero-text
                                    | I'm driven to help because when I lost my wife to cancer, we weren't financially prepared.
                                img.c-hero-signature(src="assets/images/signature.png", alt="Brett Aitken, Life Insurance Specialist, Cairns")
                                p.c-text--sm
                                    | Brett Aitken<br>Life Insurance Specialist, Cairns
                    .Grid-cell.u-sm-size6of12.u-flex.u-flexAlignItemsEnd.u-smDown-spaceT
                        img(src="assets/images/brett-aitken.png", alt="Brett Aitken, owner of Insure Control")

.o-container.o-container--sm.u-textCenter#why
    .c-block
        div
            h4.c-headline--inText Life, assured
        h2.c-headline--md There are some things we can't control. #[span.u-lg-lineBreakCentered It pays to think ahead.]

    .c-block.c-block--half
        .FlexEmbed
            .FlexEmbed-ratio--16by9
                .FlexEmbed-content
                    .js-videoWrapper.js-videoPoster.c-video-wrapper
                        iframe.js-videoIframe.o-posAbsoluteCenterAlt(src='', data-src='https://www.youtube.com/embed/x8JdtVT19hI?autoplay=1', height='100%', width='100%', frameborder='0', allowtransparency='true', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                        .o-posAbsoluteCenterAlt.o-coverImage.o-coverImage--bottom.c-video-poster(style='background-image: url("/assets/images/youtube-poster.jpg")')
                            .o-aligner
                                .o-aligner-item
                                    .Grid-cell--center.u-sm-size1of2
                                        .c-hero-buttons.u-posRelative
                                            a.c-button.c-button--playVideo
                                                svg.o-icon.u-colorWhite(width='60', height='60', version='1.1', viewbox='0 0 24 24')
                                                    path(d='M8 5v14l11-7z')
                                                    path(d='M0 0h24v24H0z', fill='none')
                                            .u-colorWhite.u-smDown-spaceTD2.u-sm-spaceT Watch two similar stories of illness sufferers with one big difference

    .c-block
        div
            h4.c-headline--inText Local, trusted service
        quote.c-text--quote
            | "Thank you Brett, for your professional and personal approach to my life insurance arrangements. Without your helpful advice and assistance, my position today would be significantly different."

.o-container.o-container--md.c-block.c-block--half
    .u-textCenter
        .Grid.Grid--withGutter
            .Grid-cell.u-sm-size1of3.u-smDown-spaceT15
                svg.o-icon.u-colorBrand(width='75', height='75', version='1.1', viewbox='0 0 75 75')
                    != partial('_shared/ic-personal')
                h3.c-headline--sm Personal, local service.
                hr
                p.u-textLeft.c-text--light
                    | Feature one text goes here and occupies about three or four lines in total. Simple yo.
            .Grid-cell.u-sm-size1of3.u-smDown-spaceT15
                svg.o-icon.u-colorBrand(width='75', height='75', version='1.1', viewbox='0 0 75 75')
                    != partial('_shared/ic-help')
                h3.c-headline--sm Driven to help.
                hr
                p.u-textLeft.c-text--light
                    | Feature one text goes here and occupies about three or four lines in total. Simple yo.
            .Grid-cell.u-sm-size1of3.u-smDown-spaceT15
                svg.o-icon.u-colorBrand(width='75', height='75', version='1.1', viewbox='0 0 75 75')
                    != partial('_shared/ic-ring')
                h3.c-headline--sm Ready with the plan.
                hr
                p.u-textLeft.c-text--light
                    | Feature one text goes here and occupies about three or four lines in total. Simple yo.

.c-block.c-block--neutral#what-people-say
    .o-container.o-container--sm.u-textCenter
        h2.c-display Over $4 million.
        p.u-spaceTD2.u-size5of6.Grid-cell--center
            | That's the value of claims I've enabled in the past decade. Here's a few stories from the people I've helped:

        .c-block.c-block--half
            .Grid.Grid--withGutter
                .Grid-cell.u-sm-size1of2
                    a(href='/Independence-gained')
                        img(src='assets/images/story-1.jpg')
                        h3.c-headline--smBrand Independence gained.
                        p.c-text--sm.u-textLeft
                            | It was always on the to-do list, but always seemed to be put on the back-burner. Now we will be forever grateful for Brett's gentle but insistent persuasion. 
                            span.o-linkBrand.o-arrowEast Read
                .Grid-cell.u-sm-size1of2.u-smDown-spaceT15
                    a(href='/a-personal-approach')
                        img(src='assets/images/story-2.jpg')
                        h3.c-headline--smBrand A personal approach.
                        p.c-text--sm.u-textLeft
                            | I really appreciated your professional approach in designing a package of cover for me, and explaining how the various covers operated. 
                            span.o-linkBrand.o-arrowEast Read

.c-block.c-block--brand.u-space0
    .o-container.o-container--sm.u-textCenter
        div
            h4.c-headline--inText.u-colorWhite Services
        h2.c-headline--md.u-colorWhite How I can help you.
            
        p.u-colorWhite.u-spaceTD2.u-size5of6.Grid-cell--center
            | I not only provide new policies for people, I review existing policies to make sure you're getting the best protection to meet your specific needs.
        ul.u-colorWhite.u-spaceTD2.u-size5of6.Grid-cell--center
            li Life insurance
            li Income protection
            li Total and permanent disablement cover
            li Trauma cover
            li Business risk insurance including key man and buy/sell insurance
            li Superannuation
        .c-block
            div
                h4.c-headline--inText.u-colorWhite Local, trusted service
            quote.c-text--quote.u-colorWhite
                | Did you know you can fund life insurance premiums through superannuation?

.o-container.o-container--rg.u-textCenter#contact
    .c-block
        h2.c-display.u-spaceB What 7 things can you do #[span.u-lg-lineBreakCentered about it right now?]
        p.u-spaceB.u-size5of6.Grid-cell--center
            | It's not rocket science. We could all do with a safety net for the times we can't control. Yet there's never the time to fully consider all the options. Sign up below and I'll send you the 7 things you can do about it right now:

    .c-block.c-block--half
        form#js-contact-form.c-form.u-marginT15(method='POST', action='https://formspree.io/#{email}')
            #js-contact-flash-messages
            .c-form-groups
                .c-form-group.Grid.Grid--withGutterSm
                    .Grid-cell.u-sm-size1of3.u-smDown-spaceTD2
                        input.c-form-control(placeholder='First Name', name='first-name')
                    .Grid-cell.u-sm-size1of3.u-smDown-spaceTD2
                        input.c-form-control(type='email', placeholder='Your email address', name='email')
                    .Grid-cell.u-sm-size1of3.u-smDown-spaceTD2
                        button.c-button.c-button--primary.u-sizeFull(type='submit') Submit

    .c-block
        div: h4.c-headline--inText Contact Brett directly
        img.c-avatar.o-image--circle.u-spaceTD2.u-spaceB(src='assets/images/avatar.jpg')
        p.c-text--light.o-childLinkGrey
            | Get in touch for a free hour to discuss your situation:
            br
            | Email 
            a(href='mailto:#{email}') #{email}
            br
            | Call 
            a(href='tel:#{phone}') #{phone}
